<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="cards.js"></script>
</head>

	<h1>Welcome to cards</h1>
	
	
        <div>
	<table class="altrowstable" id="cardtable1" style="float: left">
	    <tr>
		    <th>Title</th><th>Description</th><th>Verification</th>
	    </tr>
	</table>
	
	<table class="altrowstable" id="cardtable2" style="float: left">
	    <tr>
		    <th>Title</th><th>Description</th><th>Verification</th>
	    </tr>
	</table>
	
	<table class="altrowstable" id="cardtable3" style="float: left">
	    <tr>
		    <th>Title</th><th>Description</th><th>Verification</th>
	    </tr>
	</table>
	</div>

</html>
