<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="cards.js"></script>
</head>

	<h1>Welcome to cards</h1>

	<table class="altrowstable" id="cardtable">
	    <tr>
		    <th>Ready</th><th>In Progress</th><th>Verified</th>
	    </tr>
	</table>

</html>
