<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="cards.js"></script>
</head>

</head>

<form>
  <h1><%= @title %> in <%= @stack %></h1>
  <textarea name="body" rows="4" cols="50" ><%= @body %></textarea>
  <br>
  <textarea name="verification" rows="4" cols="50"><%= @verification %></textarea>
  <br>
  <button name="update" type="submit" formaction="https://google.com">update</button>
</form>
