<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="cards.js"></script>
</head>

	<h1>Welcome to cards</h1>
	<a href="newcard">New Card</href>
	<br>

  <div>
	  <%= @ready %>
	  <%= @progress %>
	  <%= @verified %>
  </div>

</html>
