<html>
<head>
	<link rel="stylesheet" href="styles.css">
</head>

  <form>
    <h1>Enter new card information:</h1>
    <textarea name="title" rows="1" cols="50"></textarea>
    <br>
    <textarea name="body" rows="4" cols="50" ></textarea>
    <br>
    <textarea name="acceptance" rows="4" cols="50"></textarea>
    <br>
    <button type="submit" formaction=add>post card</button>
  </form>

</html>